@import 'variables';

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #f0f2f5;
	font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#root {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin btn {
	display: block;
	cursor: pointer;
	background-color: transparent;
	&:hover {
		background-color: $btn-hover-color;
	}
}
